<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ShipTimerForKCV.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ShipTimerForKCV.Properties.Settings>
            <setting name="GoogleUserID" serializeAs="String">
                <value />
            </setting>
            <setting name="DeviceID" serializeAs="String">
                <value />
            </setting>
            <setting name="ClientID" serializeAs="String">
                <value>596857451248-oqsr086q468pte2ejvtt9qpaf9k6lqud.apps.googleusercontent.com</value>
            </setting>
            <setting name="ClientSecret" serializeAs="String">
                <value>xHO3vkeIermn6rr9dL-tQkWp</value>
            </setting>
            <setting name="IdentityPoolID" serializeAs="String">
                <value>us-east-1:affc356e-7b3a-4ea0-b471-d4682b912387</value>
            </setting>
            <setting name="PlatformApplicationArn" serializeAs="String">
                <value>arn:aws:sns:us-east-1:348287904183:app/APNS/ShipTimer</value>
            </setting>
            <setting name="EnseiSetting" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NyukyoSetting" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BuildSetting" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="sandboxSetting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EndPointArn" serializeAs="String">
                <value />
            </setting>
        </ShipTimerForKCV.Properties.Settings>
    </userSettings>
</configuration>